body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #f5f5f5;
  padding: 10px 0;
}

.nav-container {
  max-width: 500px;
  margin: 1px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
}

.login-status {
  margin: auto;
  width: 50%;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  text-align: center;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

button:hover {
  background-color: #45a049;
}

.signup-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-blog div {
  display: flex;
  justify-content: center;
}

.add-blog form {
  max-width: 500px;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  text-decoration: none;
}

.add-blog input {
  display: inline-block;
}

.add-blog label {
  margin-left: 10%;
  display: inline-block;
  width: 150px;
}
.add-blog button {
  background-color: #45a049;
  margin: auto;
  font-size: large;
  display: flex;
  width: 90px;
}

.blogs {
  margin-top: 20px;
}

.blogs p {
  font-size: 18px;
  margin-bottom: 10px;
}

.blogs-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.blogs-wrapper p {
  font-size: 16px;
  margin-bottom: 5px;
}

.blogs-wrapper a {
  text-decoration: none;
  color: #333;
}

.blog-root-input {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.blog-root-input:hover {
  background-color: #45a049;
}
